body {
   margin: 0;
   width: 100vw;
   background-color: paleturquoise;
   overflow-x: hidden;
}

.container {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100px 1fr;
   justify-items: center;
}

h1 {
   color: darkgreen;
   grid-row: 1 / span 1;
}

#tree-input {
   padding: 2%;
   position: fixed;
   top: 5%;
   font-size: 2em;
   display: flex;
   align-items: center;
   z-index: 1;
}

#tree-height {
   width: 180px;
   height: 70px;
   text-align: center;
   font-size: 2em;
}

#tree-container {
   position: relative;
   width: 100%;
}

pre {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   margin: 0;
   display: block;
   font-size: 2em;
   font-weight: bolder;
   grid-row: 2 / span 1;
   justify-self: flex-start;
}

pre span {
   display: inline-block;
}

.green {
   color: green;
}

.red {
   color: red;
}

.yellow {
   color: yellow;
}

.brown {
   color: brown;
}

.blue {
   color: blue;
}
